# 忽略所有 .v.out 文件
*.v.out

# 忽略 wave 文件夹下的所有文件
src/wave/*

# 忽略常见的临时文件和日志文件
*.log
*.bak
*.tmp

# 忽略编辑器或 IDE 生成的配置文件
.vscode/
.idea/
*.swp
*.swo

# 忽略其他常见的编译生成文件
*.o
*.out
*.vcd
*.fsdb
*.vdb
*.dump

./Makefile